/* Montserrat font from fonts.google */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Navbar */
a {
  text-decoration: none;
}
li {
  list-style: none;
}

header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: sans-serif;
  background-color: #414141;
}
.brand {
  width: auto;
  height: 100%;
  float: left;
  margin: 0 0 0 5%;
  color: white;
}

.menu {
  width: 60%;
  height: 100%;
  float: right;
  color: white;
}
.menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.menu ul a {
  width: 20%;
  height: inherit;
  color: rgb(255, 255, 255);
  display: inline-block;
  transition: 0.5s;
}
.menu ul a:hover {
  text-shadow: 0px 0px 5px white;
  color: rgb(223, 223, 223);
}
#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}

/* End navbar */

.jumbotron {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: #414141;
  font-size: 30px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.66);
}

/* Columns */
.column-2 {
  float: left;
  width: 50%;
}

.column-3 {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 15px;
  padding: 15px;
}

/* --- Responsive --- */

/* Columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Navbar */
@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
  }
  .menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }
  .menu ul a {
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: #414141;
    padding: 10px 0px 10px 5%;
  }
  .menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
  }
  #menuToggle:checked ~ ul {
    max-height: 350px;
    /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/
  }
  .menu-icon i {
    font-size: 1.7em;
  }
}
